### Importing Necessary Libraries

In [8]:
import numpy as np
import pandas as pd
from scipy.stats import trim_mean

In [7]:
state = pd.read_csv('data/state.csv')
state.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

<b>state.csv</b> represents murder rate across different US states.

### Exploratory Data Analysis

#### Location Estimates of Population and Murder Rates

In [9]:
state['Population'].mean()

np.float64(6162876.3)

In [ ]:
trim_mean(state['Population'],0.1) #Removing 10% from upper and lower half

np.float64(4783697.125)

- As expected standard mean can be sensitive to outliers.
- An average of 4 lakh population is there across different states in US.

In [13]:
np.average(state['Murder.Rate'], weights=state['Population'])

np.float64(4.445833981123393)

- We use weighted mean in this case since population is different across different states which would indirectly affect the Murder rate.States with higher number of population should have a greater say when we want to calculate average murder rate.